root = true

[*.{csproj,props}]
charset = utf-8
indent_size = 2
indent_style = space

[*.cs]
indent_size = 4
indent_style = space
insert_final_newline = true

dotnet_code_quality_unused_parameters = all
dotnet_diagnostic.IDE0060.severity = error

csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.IDE0161.severity = error

csharp_style_prefer_primary_constructors = true
dotnet_diagnostic.IDE0290.severity = none
