version: '3.1'
services:
  mongo:
    image: mongo
    restart: always
    ports:
      - 10001:27017
  statistic-service:
    build: .
    restart: always
    ports:
      - 10000:80
    environment:
      - MONGO_CONNECTION_STRING=mongodb://mongo:27017
    depends_on:
      - mongo